			a:link{
				text-decoration:none;
				color:rgb(8, 10, 102);
			}
			a:visited{
				text-decoration:none;
				color:none;}
			a:hover{
				text-decoration:underline;
				color:blue;}
			a:active{
				text-decoration:none;
				color:red;
				font-size:1.1em;}
			
			body {
				margin:0px;
				background:url('image/bg.jpg');
				height:100%;
			}
			.wrapper{
				width:100%;
				margin:auto;
				position:relative;
				z-index:1;
			}
			
			header
			{
				background:url('image/head.jpg') repeat-x center top;
				position:relative;
				width:100%;
				min-width:1120px;
				height:133px;
				box-shadow: 0 0.1em 20px rgba(122,122,122,0.5);
			}			
		    a.header-logo{
				display:block;
				background:url('image/logo.png') no-repeat;
				position: relative;
				height:57px;
				width:648px;
				left:5%;
				top:40px;
				float:left;
			}	
			.form{
				background:none no-repeat center top;
				position:relative;
				border-radius:15px;
				height:113px;
				width:300px;
				right:5%;
				top:-5px;
				float:right;
				box-shadow:  0 0.2em 20px rgba(122,122,122,0.5);
			}
			#form_text{
					padding-left:50px;
					padding-top:15px;
					color:white;
					font-size:1.1em;
			}
			input{
				border:2px solid #15A2E0;
				background-color:rgb(60, 189, 236);
				 border-radius: 3px;
				 height:100%;
				 width:60%;
			}
			input:focus{
				background-color:rgb(138, 219, 249);
			}
			button {
				margin-top:10px;
				margin-left:65px;
				float:left;
				display: inline-block;
				font-family: arial,sans-serif;
				font-size: 11px;
				color: rgb(205,216,228);
				line-height: 2em;
				padding: 1px 1.2em;
				border: 1px solid rgba(16, 19, 215, 1);
				border-radius: 3px;
				background: rgb(18, 183, 255) linear-gradient(rgb(11, 96, 173), rgb(6, 105, 203));
				box-shadow:
				   inset 0 1px rgba(16, 19, 215, 1),
				   inset 0 0 1px rgba(140,150,170,.8),
				   0 1px rgb(83,94,104),
				   0 0 1px rgb(86,96,106);
			}
			button:active {
				box-shadow:
				   inset 0 1px 3px rgba(0,10,20,.5),
				   0 1px rgb(83,94,104),
				   0 0 1px rgb(86,96,106);
			}
			button:focus:not(:active) {
				border: 1px solid rgb(22,32,43);
				border-bottom: 1px solid rgb(25,34,45);
				background: rgb(53,61,71);
				box-shadow:
				   inset 0 1px 3px rgba(0,10,20,.5),
				   0 1px rgb(83,94,104),
				   0 0 1px rgb(86,96,106);
			}

			h6{
				color:rgb(7, 2, 176);
				float:right;
				margin-top:16px;
				margin-right:65px;
			}
			article{
				color:rgb(15, 15, 110);
				background:none repeat #ABE6ED;
				box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.1), inset 0 6px 12px -5px rgba(122,122,122,0.5);
				border:10px;
				width:90%;
				margin:auto !important;
				text-align:justify;	
				padding:10px;
				min-width:400px;
			}
			footer{
				background:none;
				position:absolute;
				width:100%;
				margin:auto;
				color:rgb(28, 79, 129);
			}
			#copyright_footer{
				width:15%;
				margin:auto;
				text-align:center;	
			}
			
			.site_map{
				width:20%;
				float:left;
				margin-left:5%;
			}
			
			.main_title{
				background: linear-gradient(to top, #2ED3DA, #3DB4DF);
				border-radius:5px;
				line-height:30px;
				vertical-align:middle;
				font-size:1.1em;
				font-weight:bold;
				font-family:Georgia;
				padding-left:10px;
				padding-right:6px;
				box-shadow: inset 0px 1px 5px #528CBC;
				color:rgb(79, 87, 166);
			}
			table{
				border-spacing:1px;
			}
			.table-border{
				background:none repeat #B2EDFD;
				border:1px solid #4BBFE8;
				width:100%;
			}
			.msg-img{
				width:35px;
			}
			td{
				border:1px solid #89BAFC;
				padding:10px;
			}
			.count{
				width:150px;
			}
			table.second-navigation, table.second-navigation td{
				border-collapse:collapse;
				border:0;
				padding:0;
				font-size:0.9em;
			}
			.txt-msg{
				text-align:center;
			}
			textarea{
				background-color:rgb(219, 255, 255);
				width:80%;
				height:150px;
			}
				
			.registration{
				min-width:370px;
				width:60%;
				margin:auto;
				height:450px;
				background:none #82D4EC;
				box-shadow:  0 0.1em 5px rgba(122,122,122,0.5);
			}
			.reg-form{
				text-align:center;
				margin:auto;
				background:none #B8E9EF;
				height:90%;
				width:96%;
				padding-left:2%;
			}
			input.reg{
				border:1px solid #39A6B3;
				background-color:#ffffff;
				 border-radius: 3px;
				 width:200px;
			}
			input:focus.reg{
				background-color:#FFD7EE;
			}
			.topic-author{
				width:150px;
			}
			.topic-date{
				background:none no-repeat #52D5FC;
				padding:0;
				padding-left:10px;
			}
			
			.error-404{
				background:url("image/error404.png") no-repeat;
				width:503px;
				height:230px;
				margin:auto;
			}
			
			#add-theme{
				min-width:370px;
				width:90%;
				margin:auto;
				height:450px;
				background:none #82D4EC;
				box-shadow:  0 0.1em 5px rgba(122,122,122,0.5);
			}
			#add-theme-form{
				text-align:center;
				margin:auto;
				background:none #B8E9EF;
				height:90%;
				min-height:300px;
				width:94%;
				padding-left:2%;
				padding-right:2%;
				padding-bottom:40px;
			}
			input.titleNewTheme{
				border:1px solid #989E9F;
				background-color:#ffffff;
				 border-radius: 3px;
				 width:40%;
			}
			
			/*Styles for admin-panel */
			
			.inset{
				width:24.2%;
				height:50px;
				background:none #2266B5;
				border-top-left-radius:9px;
				border-top-right-radius:9px;
				position:relative;
				top:19px;
				border-left: solid 1px #396BBA;
				border-right: solid 1px #396BBA;
				border-top: solid 1px #396BBA;
				color:white;
				font-family:"Georgia";
				font-weight:normal;
				font-size:0.82em;
				text-align:center;
				line-height:50px;
				margin-right:0.3%;
			}
			.current-inset{
				background:none #ABE6ED;
				color:rgb(12, 47, 125);
				font-weight:bold;
			}
			a:hover .inset {
				background:none #81C0FF;
			}
			
			a.ico{
				color:#767676;
				text-decoration: none;
				padding: 0px 0px 0px 18px;
				background-repeat: no-repeat;
				font-size:1em;
			}
			a.delete-rubric{
				background:url("image/delete.png") no-repeat;
			}
			a.edit{
				background:url("image/edit.png") no-repeat;
				margin-left:10px;
 			}
			a.delete-user{
				background:url("image/deleteuser.png") no-repeat;
			}
			
			
			
			
			
			
			
			
			
			
			
			
			
			