<%@ page import="db_Proccesing.Users_processing" %>
<%--
  Created by IntelliJ IDEA.
  User: Otani
  Date: 25.02.2015
  Time: 8:38
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%
    response.setHeader("Pragma", "no-cache");
    response.setHeader("Cache-Control", "no-cache");
    response.setDateHeader("Expires", 0);
%>

<!DOCTYPE html>
<html>
<head>
    <title> Главная | Database Forum</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<header>
    <a class="header-logo"></a>

    <div id="form_text" class="form">
        <c:if test = "<%= !Users_processing.isUserAuth(request) %>">
        <form name="login" action="/auth" method="post">
            Логин:  &nbsp; <input id="enter" type="text" name="login" value="">
            <p></p>
            Пароль: <input type="password" name="password">
            <button type="submit">Войти</button>
          <h6> <a href="/registration">Регистрация</a></h6>
        </form>
        </c:if>
        <c:if  test = "<%= Users_processing.isUserAuth(request) %>">
            <p>Он показывал писюн</p>
            <h6> <a href="/?do=delCookie">Регистрация</a></h6>
        </c:if>
    </div>
</header>

